<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @account.server %>
</p>

<p>
  <strong>Username:</strong>
  <%= @account.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<p>
  <strong>Email count:</strong>
  <%= @account.email_count %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
